<div id="cover" style="background-image: url(../assets/images/hm2.jpg); height: 95vh; background-repeat: no-repeat; background-size: cover;">

<h1 style="color: red; font-family: Helvetica, sans-serif;"><b>H & M</b></h1>
<br>
<br>
<br>
<br>
<h2 style="color: white; font-family: Helvetica, sans-serif;"><b>History</b></h2>
<h4 style="color: white; font-family: Helvetica, sans-serif;"><b>H&M Group reaches fashion lovers across the globe and has come a long way since the first Hennes store opened in the Swedish city Västerås back in 1947. <br>
Today, we offer the world fashion and design in an exciting and sustainable way. Follow us on a tour through the years.</b></h4>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 style="color: white; font-family: Helvetica, sans-serif;"><b>About Us</b></h2>
<h4 style="color: white; font-family: Helvetica, sans-serif;"><b>H&M Group is a family of brands and businesses, making it possible for customers around the world to express themselves through fashion and design, and to choose a more sustainable lifestyle. <br>
We create value for people and society in general by delivering our customer offering and by developing with a focus on sustainable and profitable growth.</b></h4>
</div>