<div id="cover" style="background-image: url(../assets/images/hm3.jpg); height: 100vh; background-repeat: no-repeat; background-size: cover;">  
<h1 style="color: white; font-family: Helvetica, sans-serif;"><b>Contact Us</b></h1>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>Our Customer Service is provided in English.</b><br>
    You are always welcome to get in touch with us.</strong> <br><br>

<h1 style="color: white; font-family: Helvetica, sans-serif;"><b>Opening Hours</b></h1>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>Monday to Sunday 9am - 8pm</b></strong><br><br>

<h1 style="color: white; font-family: Helvetica, sans-serif;"><b>By Phone</b></h1>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>PLDT and Smart Communications: 1 800 1110 2305 (free of charge)</b></strong><br>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>Globe: 1 800 8222 8888 (free of charge)</b></strong><br>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>International: +1 415 915 0770 (international call fee)</b></strong><br>

<br>

<h1 style="color: white; font-family: Helvetica, sans-serif;"><b>By Message</b></h1>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>Feel free to send us a message, we aim to reply within 24h.</b></strong><br>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>customerservice.ph@hm.com</b></strong><br>

<br>

<h1 style="color: white; font-family: Helvetica, sans-serif;"><b>Social Media</b></h1>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>Facebook</b></strong><br>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>Twitter</b></strong><br>
<strong style="color: white; font-family: Helvetica, sans-serif;"><b>Instagram</b></strong><br>
<p style="color: white; font-family: Helvetica, sans-serif;"><b>When you contact Customer Service your personal data will be processed in accordance with Privacy Notice.</b></p>
</div>