<table>
    <table class="table table-bordered">
    <thead>
    <tr>
    <th scope="col">Product</th>
    <th scope="col"></th>
    <th scope="col">Code</th>
    <th scope="col">Description</th>
    </tr>
    </thead>
    
    <tbody>
    <tr id="product">
    <th col>Tshirt</th>
    <td><img src="../assets/images/shirts.jpg"   style="width: 250px; height: 250px;"></td>
    <td>SHL0001</td>
    <td>Comfortable, casual and loose fitting, our heavyweight dark color t-shirt will quickly become one of your favorites.</td>
    </tr>
    
    <tr>
    <th >Shoes</th>
    <td><img src="../assets/images/shoes.jpg"   style="width: 175px; height: 250px;"></td>
    <td>SHL0002</td>
    <td>Unstructured fabric shoulder bag that can either be worn parallel to your body, or across it.</td>
    </tr>
    
    <tr id="product">
    <th>Handbags</th>
    <td><img src="../assets/images/bag.jpg"  style="width: 175px; height: 250px;"></td>
    <td>SHL0003</td>
    <td>Made of 100% natural material and can be customized with your favorite pictures and text for the perfect gift or casual accessory.</td>
    </tr>
    
    <tr>
    <th>Jogging Pants</th>
    <td><img src="../assets/images/pants.jpg" style="width: 175px; height: 250px;"></td>
    <td>SHL0004</td>
    <td>Made of fabric that allow for maximum comfort and ease.</td>
    </tr>

    <tr id="product">
    <th>Faceshields</th>
    <td><img src="../assets/images/shield.jpg"  style="width: 200px; height: 200px;"></td>
    <td>SHL0005</td>
    <td>New and improved face shields with comfortable glasses frames for adults and kids are here.</td>
    </tr>
        
    <tr>
    <th>Mugs</th>
    <td><img src="../assets/images/mugs.jpg" style="width: 225px; height: 200px;"></td>
    <td>SHL0006</td>
    <td>Commuter mugs feature a rubber-lined lid for a tight, spill-resistant seal, twist the lid to reveal the sip opening.</td>
    </tr>
    
    </tbody>
    </table>
    </table>
    <hr>