<hr />
<h1>Skills</h1>
          <strong style="font-size: 18px;">Secondary (Junior High School)</strong> <br>
          Holy Angel University <br>
          Sto. Rosario St. Angeles City <br>
          A.Y 2013-2017 <br>
          <br>
          <strong style="font-size: 18px;">Secondary (Senior High School)</strong> <br>
          Holy Angel University <br>
          Sto. Rosario St. Angeles City <br>
          A.Y 2017-2019 <br>
          <br>
          <strong style="font-size: 18px;">College</strong> <br>
          Holy Angel University <br>
          Sto. Rosario St. Angeles City <br>
          A.Y 2019-Present <br>
          <br>
          <strong style="font-size: 18px;">Skills</strong> <br>
          HTML <br>
          CSS <br>
          PHP <br>
          PYTHON <br>
          JAVA <br>
          <br>
          <strong style="font-size: 18px;">Others(Skills)</strong> <br>
          Have a Good Leadership experience <br>
          Good Listener <br>
          People Skills <br>
          Communication skills <br>
